html {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
}

body {
    background: #0b0c10;
    height: 100%;
}

#mainNavbar{
  /* height: 50px; */
  background: #0b0c10;
}

#intro{
  font-size: 1.8rem;
}

#education{
  /* font-size: 2.4rem; */
  font-family: 'Roboto', sans-serif;
}

#online{
  font-family: 'Roboto', sans-serif;
}
